.header {
  background-color: #28242c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: clamp(30px, 3vw, 3vw) clamp(20px, 4vw, 4vw);
  color: white;
  position: sticky;
  top: 0;
  z-index: 15;
}

h1 {
  letter-spacing: 0.3rem;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.header * {
  font-family: 'Roboto Mono', monospace;
}

.menubtn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menubtn * {
  color: white;
  font-size: 1.5rem;
}
